#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px, 30px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 30px;
}

@media (max-width: 950px) {
  #app {
    flex-direction: column;
  }

  #app aside {
    width: 100%;
  }
}
